/* Основные стили */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.form-control {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.btn-success {
  display: block;
  margin: auto;
}

/* Стили для медиа-запросов */
@media only screen and (max-width: 768px) {
  textarea {
    height: 100px;
  }
}
