 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/first_house.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static', filename='javascript/first_house.js') }}" />
 <body>
 <h1>Оренда > 8 кімнатна домівка, вул. Шевченка, Гатне  | код: A-4887</h1>
  <div class="wrapper">
    <div class="sliderWindow"></div>

  <div class="miniImgWrap">
      <div class="miniImg"></div>
      <div class="miniImg"></div>
      <div class="miniImg"></div>
   </div>
</div>



<div id="img1" class="popup">
  <a href="#" class="close">X</a>
  <img class="full-img" src="static/img/fb141a68-d47d-4d75-8fdb-036a7dc53a06.jpg" alt="">
</div>



<div class="photochka">
    <a href="#img3"><img src="static/img/fb141a68-d47d-4d75-8fdb-036a7dc53a06.jpg" width="630" height="400" alt=""></a>
 <div id="img2" class="popup">
  <a href="#" class="close">X</a>
  <img class="full-img" src="static/img/6fb82db1-3a77-4419-815e-85ab84ebaf62.JPG" alt="">
</div>
</div>

<div class="photochka2">
    <a href="#img2"><img src="static/img/6fb82db1-3a77-4419-815e-85ab84ebaf62.JPG" width="200" height="180" alt=""></a>
<div id="img3" class="popup">
  <a href="#" class="close">X</a>
    <img class="full-img" src="static/img/fb141a68-d47d-4d75-8fdb-036a7dc53a06.jpg" width="790" height="auto" alt="">



</div>
</div>
 <div class="photochka3">
    <a href="#img4"><img src="static/img/5bb8625f-d39d-4428-a8aa-4165c207b13d.JPG" width="200" height="180" alt=""></a>
<div id="img4" class="popup">
  <a href="#" class="close">X</a>
    <img class="full-img" src="static/img/5bb8625f-d39d-4428-a8aa-4165c207b13d.JPG" width="790" height="auto" alt="">
</div>
</div>



 <div class="photochka4">
    <a href="#img5"><img src="static/img/57f6bf02-a69b-4350-9f9f-491913cf76c9.JPG" width="200" height="180" alt=""></a>
<div id="img5" class="popup">
  <a href="#" class="close">X</a>
    <img class="full-img" src="static/img/57f6bf02-a69b-4350-9f9f-491913cf76c9.JPG" width="790" height="auto" alt="">
</div>
     </div>
<div class="card">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1272.6860099743176!2d30.39968231768042!3d50.359617226550846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c9dcb796b4af%3A0xb8dc0887253a55c!2z0JPQsNGC0L3QtSwg0JrQuNGX0LLRgdGM0LrQsCDQvtCx0Lsu!5e0!3m2!1suk!2sua!4v1680195691671!5m2!1suk!2sua" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="text2">
    <strong>
    ОПИС
Аренда с. Гатное, ул.Каштановая
Предлагается дом общей площадью 500м2 с бассейном в доме и участком 30 соток.

Дом 2013 года постройки ,каждый год делается косметика и улучшения его.
Дом с хорошим ремонтом в классическом стиле , всех необходимо мебелью и импортной бытовой техникой которая нужна для жизни.

Дом собой представляет 3 этажа : 5 комнат , 5 санузлов, комнат для персонала, рабочий кабинет, крытый и теплый бассейн, сауна, хамам, погреб ,
В доме стоит система очистка воды.Есть колодец .Канализация септик
Также на участке есть свое не большое озеро с рыбой, летняя терраса и беседка ,живой уголок с птицами. Гостевой домик для персонала.

Гараж на 2 авто и также много места для парковки машин.Дом для охраны с видеонаблюдением участка .Сам дом огорожен большим забором, рядом хорошие соседи.
До центра Киева 10-15 минут.
    </strong>
    </div>


 </body>
<a class="btn btn-outline-secondary" href="/contacts">Замовити дзвінок</a>

















