 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/first_house.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static', filename='javascript/first_house.js') }}" />
 <body>
 <h1>Оренда > 3 кімнатна квартира, вул. Драгомирова, Новопечерські Липки </h1>
  <div class="wrapper">
    <div class="sliderWindow"></div>

  <div class="miniImgWrap">
      <div class="miniImg"></div>
      <div class="miniImg"></div>
      <div class="miniImg"></div>
   </div>
</div>



<div id="img1" class="popup">
  <a href="#" class="close">X</a>
  <img class="full-img" src="static/img/b9b54035-5ebf-42d0-9ed8-8e9bd11b0cc8.JPG" alt="">
</div>



<div class="photochka">
    <a href="#img3"><img src="static/img/b9b54035-5ebf-42d0-9ed8-8e9bd11b0cc8.JPG" width="630" height="400" alt=""></a>
 <div id="img2" class="popup">
  <a href="#" class="close">X</a>
  <img class="full-img" src="static/img/cfb7c4f7-8d02-47f8-ac1e-14f539b976af.JPG" alt="">
</div>
</div>

<div class="photochka2">
    <a href="#img2"><img src="static/img/cfb7c4f7-8d02-47f8-ac1e-14f539b976af.JPG" width="200" height="180" alt=""></a>
<div id="img3" class="popup">
  <a href="#" class="close">X</a>
    <img class="full-img" src="static/img/b9b54035-5ebf-42d0-9ed8-8e9bd11b0cc8.JPG" width="790" height="auto" alt="">



</div>
</div>
 <div class="photochka3">
    <a href="#img4"><img src="static/img/3ac655e5-fb79-4147-bf1a-a98c454aeb6f.JPG" width="200" height="180" alt=""></a>
<div id="img4" class="popup">
  <a href="#" class="close">X</a>
    <img class="full-img" src="static/img/3ac655e5-fb79-4147-bf1a-a98c454aeb6f.JPG" width="790" height="auto" alt="">
</div>
</div>



 <div class="photochka4">
    <a href="#img5"><img src="static/img/fcd918b1-2241-49d4-8ce7-8d375a544f47.JPG" width="200" height="180" alt=""></a>
<div id="img5" class="popup">
  <a href="#" class="close">X</a>
    <img class="full-img" src="static/img/fcd918b1-2241-49d4-8ce7-8d375a544f47.JPG" width="790" height="auto" alt="">
</div>
     </div>
<div class="card">
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8101.839152981124!2d30.403145549410308!3d50.46595246199448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1680363810791!5m2!1suk!2sua" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="text2">
    <strong>
        ОПИС
Предлагает в аренду 3-комнатную квартиру по адресу улица Драгомирова, 5 Жилой комплекс бизнес класса «Новопечерские Липки» . Квартира общей площадью 146 м2 имеет функциональную планировку: кухня, гостиная с балконом, спальня и ванная комната. Кухню отделяют от гостиной раздвижные двери. Квартира полностью укомплектована мебелью и бытовой техникой от ведущих производителей. Установлены посудомоечная машинка, стиральная машинка, бойлер, духовой шкаф, варочная плита, . Есть машиноместо в подземном паркинге

    </strong>
    </div>


 </body>
<a class="btn btn-outline-secondary" href="/contacts">Замовити дзвінок</a>